@charset "UTF-8";
@font-face {
    font-family:Sri;
    src: url(Fontes/Sriracha/Sriracha-Regular.ttf);
}
@font-face {
    font-family: One;
    src: url(Fontes/Passion_One/PassionOne-Black.ttf);
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
min-height: 100%;
background-color: rgb(255, 255, 255);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: One;
    font-size: 2em;
  
}
header > h1{
    padding-top: 50px;
    color: white;
font-variant: small-caps;
}
header > p {
    padding-bottom: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: normal;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: Sri;
    font-size: 1.5vw;
   
}
section.normal{
    background-color: white;
    color: black;
    font-family: Sri;
 
}
section.img{
    box-shadow: 6px 6px 13px 0px black;
    background-color: rgb(136, 136, 136);
    color: white;
    font-family: Sri;
    text-shadow: 2px 2px 0px black;
    box-shadow: 6px 6px 13px 0px black;
    background-attachment: fixed;
    
  
}
section.img > p{
width: 400px;
    background-color: rgba(0, 0, 0, 0.199);
    font-family: Sri;
    border-radius: 20px;
    display: inline-block;
text-shadow: 2px 2px 0px black;


}

section#ing0{
background-image: url(img/o-fundo-da-letra-do-livro-esta-desfocado_524876-2027.avif);
background-size: 1000px;/* deixa a imagem com largura de 300px */
background-position: left center; /* alinha a imagem à esquerda e centralizada verticalmente */
background-size: cover;
background-repeat: no-repeat; /* não repetir a imagem */

}
section#ing1{
    background-image: url(img/casal.webp);
    background-size: 1000px;/* deixa a imagem com largura de 300px */
    background-position: left center; /* alinha a imagem à esquerda e centralizada verticalmente */
    background-size: cover;
    background-repeat: no-repeat; /* não repetir a imagem */
  
    
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}